<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
</head>
<body>
    <h1>Loja</h1>

    <h3>Node.js book</h3>
    <p>R$ 50</p>
    <p>Quantidade: 1</p>

    <form action="/checkout" method="post">
        <input type="submit" value="Comprar">
    </form>
</body>
</html>